<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/login">Login</a></div>
  </nav>
  <section id="description">
      <h1>About the Character</h1>
      <img src="/assets/img/domo.png" alt="Domo">
      <p>
            Domo is the mascot of Japan's NHK television station, appearing several 30 second
          stop-motion sketches. He is often placed into relevant or major scenes of disaster,
          seemingly being the main cause of all the ensuing destruction. His favorite food is
          meat and potato stew, and his least favorite food is apples. Domo can get really 
          gassy whenever he is upset or nervous.
      </p>
  </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>